// Hamburger
#menu-btn {
  transform: scale(0.5);
  position: relative;
  right: 0;
  display: flex;
  z-index: 999;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}

.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: rgb(0, 0, 0);
  border-radius: 5px;

  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: rgb(0, 0, 0);
  border-radius: 5px;

  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
#menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
  z-index: 999;
}

#menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  z-index: 999;
}

#menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  z-index: 999;
}
// Sidebar

#sidebar {
  width: 50%;
  height: 100vh;
  background-color: #f2e1cf;
  position: fixed;
  z-index: 10;

  right: -50vw;
  transition: 0.4s ease-in-out;
}

#sidebar.active {
  right: 0;

  transition: 0.4s ease-in-out;
}

#overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.4s ease-in-out;
}

#overlay.overlay-active {
  background-color: rgba(0, 0, 0, 0.808);
  transition: 0.4s ease-in-out;
}

.tombolbar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: red;
  position: absolute;
  right: 0;
  z-index: 11;
}

.menu-side {
  padding: 150px;
}

// Navbar

.bg-luwes {
  background-color: white !important;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: 11px;
  font-size: 14px;
  color: black;
  position: relative;
  transition: 1s;
}

.nav-item:hover {
  color: #9b6053 !important;
  transition: 0.5s;
}

.nav-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background-color: #9b605300;
  transition: 0.5s;
}

.nav-item:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  background-color: #9b6053;
  transition: 0.5s;
  margin-left: 15%;
}
